# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production Build Output
dist/
client/dist/
build/

# Environment variables
.env
server/.env
client/.env
*.env.local

# IDE & OS Junk
.vscode/
.idea/
.DS_Store
Thumbs.db
